.navbar{
    background: #08192d;
}
.navbar a{
    color: #fff;
}
.custom-toggler.navbar-toggler {
    border-color: #fff;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("image/BhEvOdgOlo.jpg");
}
.navsidemenu{
    color: #fff;
    padding-right: 2px;
}
span{
    color: #fc0254;
}
.navbar-brand{
    padding-left: 2em;
    padding-right: 2em;
}
.nav-item{
    padding-right: 2em;
    font-size: large;
}
#help{
    padding-left: 12em;
    padding-right: 0.5em;
    font-size: large;
    text-decoration: none;
    color: #c8c6a7;
}
#login{
    padding-left: 0.5em;
    padding-right: 5em;
    font-size: large;
    text-decoration: none;
}
#createaccount{
    font-size: large;
    text-decoration: none;
    color: #e40017;
}
.banner{
    background: #0a183d;
    padding-top: 3em;
    padding-bottom: 3em;
}
.banner p{ 
    text-align: center;
    color: #fff;
    max-width: 30em;
    padding-left: 6em;
}
.banner img{
    max-width: 100%;
}
.banner h2{
    text-align: center;
    color: #fff;
    font-size: 5em;
    font-weight: 700;
    padding-top: 1.5em;
}
.firstbtn{
    background: #fc0254;
    margin-left: 7em;
    
}
.mmedia{
    background: #fc0254;
    margin-left: 7em;
}
.secodbtn{
    background: #383b70;
    margin-left: 0.5em;
}
.btn{
    border-radius: 12px;
    margin-top: 1em;
}
.bannertonext{
    background: #f6f6f6;
    text-align: center;
    padding: 5em;
    padding-top: 8em;
    padding-bottom: 6em;
}
.bannertonext h2{
    font-size: 4em;
    font-weight: 600;
    color: #0a183d;
}
.bannertonext .btn{
    background: #fc0254;
    margin-right: 10em;
} 
.catagory{
    background: #0a183d;
    color: #fff;
    padding-top: 5em;
    padding-bottom: 2em;
    padding-left: 4em;
}
.catagory h2{
    font-size: 4em;
    font-weight: 600;
}
.catagory-menu{
    background: #0a183d;
    padding: 4em;
}
.catagory-menu h3{
    color: #fff;
}
.catagory-menu p{
    color: #fff;
}
.contest{
    padding-top: 4em;
    text-align: center;
    padding-bottom: 4em;
}
.contest p{
    text-align: left;
    max-width: 80%;
    color: #aaaaaa;
    padding-top: 2em;

}
.contest h2{
    font-size: 4.5em;
    font-weight: 600;
    color: #0a183d;
}
.image-div{
    width: 12em;
}
.c1{
    padding-left: 4em;
}
.music h4{
    padding-top: 1em;
}
.music img{
    width: 13em;
    border-radius: 12px;
}
.subscription{
    background: #0a183d;
    color: #fff;
    padding-bottom: 2em;
    
}
.subscription h1{
    padding-top: 2em;
    padding-left: 1em;
    text-align: center;
    font-weight: 800;
}
.subscription h5{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}
.subscription p{
    text-align: center;
    padding-left: 3em;
}
.subsbtn{
    background: #fc0254;
    margin-left: 12em;
    padding: 0.5em;
}
.subsimage{
    
    background: #0a183d;
}
.subsimage img{
    padding-top: 2em;
    padding-left: 5em;
    border-radius: 20px;
    padding-bottom: 2em;
    max-width: 100%;
}
.bfooter{
    padding-top: 4em;
    padding-bottom: 4em;

}
.bfooter h1{
    text-align: center;
}
.bfooter p{
    max-width: 80%;
    padding-left: 1em;
    text-align: left;
}
.crimg{
    padding-left: 4em;
}
.crimg h5{
    padding-top: 1em;
}
.crimg p{
    padding-top: 1em;padding-bottom: 4em;
}
.cr2 h5{
    padding-left: 1em;
}
.cr2 p{
    padding-left: 0.5em;
}
.cr3 h5{
    padding-left: 1.5em;
}
.cr3 p{
    padding-left: 0.5em;
}
.cr4 h5{
    padding-left: 1em;
}
.cr4 p{
    padding-left: 2em;
}
.backgroundfooter{
    background: #08192d;
    color: #fff;
    padding-top: 7em;
    padding-bottom: 5em;
    
}
.backgroundfooter p{
    font-size: small;
}
.backgroundfooter a{
    text-decoration: none;
    font-size: 1em;
}
.backgroundfooter ul{
    list-style: none;
}
.footerimg{
    
    width: 1em;
}
.footerimg img{
    padding-top: 2em;
    padding-left: 2em;
}
.leftpart{
    text-align: center;
}
.leftpart h5{
    font-size: 3em;
}
@media (max-width:450px){
    .mmedia {
        background: #fc0254;
        margin-left: 0em;
    }
    .firstbtn {
        background: #fc0254;
        margin-left: 3em;
    }
    .secodbtn {
        background: #383b70;
        margin-left: 3em;
    }
    .banner p {
        text-align: center;
        color: #fff;
        max-width: 30em;
        padding: 2px;
        margin-left: 1em;
        margin-right: 1em;
    }
    .banner h2 {
        text-align: center;
        color: #fff;
        font-size: 4em;
        font-weight: 700;
        padding-top: 1.5em;
    }
    .bannertonext h5 {
        font-size: 5px;
        font-weight: 600;
        color: #0a183d;
    }
    .bannertonext h2 {
        font-size: 2.5em;
        font-weight: 600;
        color: #0a183d;
        padding-top: 1em;
    }
    .bannertonext .btn {
        background: #fc0254;
        margin-right: 0em;
        margin-bottom: 2em;
    }
    .bannertonext {
        background: #f6f6f6;
        text-align: center;
        padding: 1em;
        padding-top: 0em;
        padding-bottom: 1em;
    }
    .subsbtn {
        background: #fc0254;
        margin-left: 4em;
        padding: 0.5em;
    }
    .backgroundfooter ul{
        list-style: none;
        text-align: left;
        font-size: 1em;
        text-align: left;
        padding-left: 0;
    }
    .backgroundfooter h3{
        font-size: 15px;
    }
    .backgroundfooter a {
        text-decoration: none;
        font-size: 11px;
    }
    .backgroundfooter {
        background: #08192d;
        color: #fff;
        padding-top: 3em;
        padding-bottom: 5em;
    }
    .c1 {
        padding-left: 1em;
    }
    .footerimage{
        padding-left: 4%;
    }
    .subsimage img {
        padding-top: 2em;
        padding-left: 0em;
        border-radius: 20px;
        padding-bottom: 2em;
        max-width: 100%;
    }
    .contest h2 {
        font-size: 4em;
        font-weight: 600;
        color: #0a183d;
    }
    .subscription p {
        text-align: center;
        padding-left: 0em;
        /* text-align: left; */
    }
    .subscription h1 {
        padding-top: 2em;
        padding-left: 0em;
        text-align: center;
        font-weight: 800;
    }
    .subscription h5 {
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 0em;
    }
    .bfooter {
        padding-top: 2em;
        padding-bottom: 0em;
        text-align: center;
        margin-bottom: 2em;
    }
    .music img {
        width: 19em;
        border-radius: 12px;
        padding-left: 0em;
    }
    .music h4 {
        padding-top: 1em;
        padding-bottom: 2em;
        padding-left: 0em;
        text-align: center;
    }
    
    #help {
        padding-left: 1em;
        padding-right: 0.5em;
        font-size: large;
        text-decoration: none;
        color: #c8c6a7;
    }
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 18px;
    }
    .navlogoimage{
        width: 109px;
    }
    #login {
        padding-left: 0.5em;
        padding-right: 1em;
        font-size: large;
        text-decoration: none;
    }
    .catagory-menu {
        background: #0a183d;
        padding: 4em;
        padding-top: 0em;
    }
    .contest p {
        text-align: center;
        max-width: 80%;
        color: #aaaaaa;
        padding-top: 1em;
        margin-bottom: 2em;
    }
    .contest {
        padding-top: 1em;
        text-align: center;
        padding-bottom: 0em;
    }
    .cr2 h5 {
        padding-left: 3em;
    }
    .crimg h5 {
        padding-top: 1em;
        padding-left: 8%;
    }
    #extra{
        padding-left: 1%;
    }
    .crimg p {
        padding-top: 1em;
        padding-bottom: 4em;
    }
    .cr4 p {
        padding-left: 18%;
    }
    .cr2 p {
        padding-left: 9%;
    }    
}

.navbar-toggler-icon {
    width: 22px;
    height: 4px;
    background-color: #fff;
    margin: 3px 0;
    display: block;
}
.menuuu{
    padding-bottom: 2px;
    position: absolute;
    top: 20px;
    right: 46px;
}